# Terraform
tf/.terraform/
tf/.terraform.lock.hcl
tf/terraform.tfstate
tf/terraform.tfstate.backup
tf/*.tfvars
tf/*.tfplan

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc
*.bbl
*.blg

# OS
.DS_Store
Thumbs.db
