# Terraform
tf/.terraform/
tf/.terraform.lock.hcl
tf/terraform.tfstate
tf/terraform.tfstate.backup
tf/*.tfvars
tf/*.tfplan

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
