
   <!-- index.html -->
   <!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="utf-8">
      <title>RESUME_IN_PROGRESS</title>
   
<style>
    /* Add this to your style.css file */

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: white;
}

h1 {
    text-align: center;
    color: #9b59b6;
}

h2, h3, h4, h5, h6 {
    color: #9b59b6;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #9b59b6;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #9b59b6;
    color: white;
}

a {
    color: #9b59b6;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #9b59b6;
}
table {
  font-family: 'Share Tech Mono', monospace;
  background-color: #F5F5F5;
  color: #333333;
  border-collapse: collapse;
}

table tr:hover {
  background-color: #E0E0E0;
  color: #8A2BE2;
  transform: scale(1.05);
}

table th, table td {
  padding: 10px;
  border: 1px solid #E0E0E0;
}

a img {
   width: 25px;
   height: 25px;
   margin: 0 10px;
}.icon-container {
   display: flex;
   justify-content: flex-end;
}.icon-container a img {
   width: 25px;
   height: 25px;
   margin: 0 10px;
   display: inline-block;
}
.icon-container a span {
   display: none;
}
.icon-container a:hover span {
   display: inline-block;
   margin-left: 10px;
}

</style>

   </head>
   <body>
      <div class="icon-container">
         <a href="https://www.linkedin.com/in/s33ding/">
            <img src="media/icons/linkedin.png" alt="LinkedIn">
            <span>https://www.linkedin.com/in/s33ding/</span>
         </a>
         <a href="https://www.github.com/s33ding/">
            <img src="media/icons/git.png" alt="GitHub">
            <span>https://www.github.com/s33ding/</span>
         </a>
         <a href="robertomdiniz@protonmail.com">
            <img src="media/icons/mail.png" alt="Email">
            <span>robertomdiniz@protonmail.com</span>
         </a>
         <a href="https://t.me/robertomdiniz">
            <img src="media/icons/telegram.png" alt="Telegram">
            <span>https://t.me/robertomdiniz</span>
         </a>
      </div>
      <h1>Roberto Moreira Diniz</h1>
      <div>
         <br>
         <h3>About Me:</h3>
         <p>Young professional working towards a diploma in Data Science. Focused in Python, Pyspark, DBA, Airflow, OOP, AWS Cloud, Docker, ETL and Linux.</p>
         
<table>
    <tr>
    
        <th>curso</th>
    
        <th>date</th>
    
        <th>field</th>
    
        <th>plataforma</th>
    
        <th>id</th>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/172944c6b33621ce36a37cada9c1f7848c6dcf0f'>Joining Data in SQL</a></td>
    
        <td>2023-02-24</td>
    
        <td>SQL</td>
    
        <td>DataCamp</td>
    
        <td>#27,948,484</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/1b99186e2d712ebebad521549ab52000a0684c5a'>Intermediate SQL</a></td>
    
        <td>2023-02-12</td>
    
        <td>SQL</td>
    
        <td>DataCamp</td>
    
        <td>#27,907,563</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/321c4f45e8a5d40f2ed59217d9dc1a01e8651c5c?raw=1'>Introduction to AWS Boto in Python</a></td>
    
        <td>2023-02-06</td>
    
        <td>AWS</td>
    
        <td>DataCamp</td>
    
        <td>#23,179,911</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/895f3c0e3a564e9abea6f431ce5d87cc'>Introduction to Big Data with PySpark Course</a></td>
    
        <td>2022-12-12</td>
    
        <td>PYSPARK</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/894911f368f19e6318f641a3331e42f67e965244?raw=1'>Cleaning Data with PySpark</a></td>
    
        <td>2022-11-15</td>
    
        <td>PYSPARK</td>
    
        <td>DataCamp</td>
    
        <td>#23,931,785</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.udemy.com/certificate/UC-b9c2e1b6-7f3c-4a5a-b579-57fad0a255f5/'>AWS Lambda - A Practical Guide</a></td>
    
        <td>2022-10-20</td>
    
        <td>AWS</td>
    
        <td>Udemy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://github.com/s33ding/myCertificates/blob/main/AWS_SkillBuilder_Glue.pdf'>Getting Started with AWS Glue</a></td>
    
        <td>2022-10-14</td>
    
        <td>AWS</td>
    
        <td>AWS Skill Builder</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/99e35d34dbbfe913b9f469f775eb46a190cde644'>Big Data Fundamentals with PySpark</a></td>
    
        <td>2022-10-13</td>
    
        <td>PYSPARK</td>
    
        <td>DataCamp</td>
    
        <td>#24,143,835</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/06eccba90ece050c5c1c59236b61dcf69c2be37e'>Introduction to SQL Server</a></td>
    
        <td>2022-09-17</td>
    
        <td>SQL</td>
    
        <td>DataCamp</td>
    
        <td>#23,941,546</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://github.com/s33ding/myCertificates/blob/main/awsSkillBuilder_AWS_Lambda.pdf'>AWS Lambda Foundations </a></td>
    
        <td>2022-08-13</td>
    
        <td>AWS</td>
    
        <td>AWS Skill Builder</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/4636b707c8dcdc8695fb3940c2ffc85cc1aa0579'>Foundations of Probability in Python</a></td>
    
        <td>2022-06-23</td>
    
        <td>PROBABILITY</td>
    
        <td>DataCamp</td>
    
        <td>#23,658,435</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/3672dd6b97120d9ca202d3f8bd028ff67831b428'>Introduction to Scala</a></td>
    
        <td>2022-05-05</td>
    
        <td>SCALA</td>
    
        <td>DataCamp</td>
    
        <td>#23,144,363</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://github.com/s33ding/myCertificates/blob/main/datacamp_introduction%20to%20pyspark.pdf'>introduction to pyspark</a></td>
    
        <td>2022-04-20</td>
    
        <td>PYSPARK</td>
    
        <td>DataCamp</td>
    
        <td>#22,441,529</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/6328c3299dd9d01d1177435b38e8d9ce85844c54'>Creating PostgreSQL Databases</a></td>
    
        <td>2022-04-18</td>
    
        <td>SQL</td>
    
        <td>DataCamp</td>
    
        <td>#22,832,993</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/46d9000a6a0dbea337da8ee1f2d911c1673b3e79'>Introduction to Airflow in Python</a></td>
    
        <td>2022-03-04</td>
    
        <td>AIRFLOW</td>
    
        <td>DataCamp</td>
    
        <td>#22,704,916</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/42eb4d282b095ddfaa0065907c518c5051f7b5b4'>Introduction to Relational Databases in SQL</a></td>
    
        <td>2022-03-03</td>
    
        <td>SQL</td>
    
        <td>DataCamp</td>
    
        <td>#23,067,162</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/763ad4f93df0ca0ff4d1313399c3d24bd3a75c7d'>Introduction to Data Engineering</a></td>
    
        <td>2022-02-26</td>
    
        <td>DATA ENGINEERING</td>
    
        <td>DataCamp</td>
    
        <td>#22,479,586</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/5b74c4928168513fa80f2ae88a75c4ff1b5378ef'>Understanding Cloud Computing</a></td>
    
        <td>2022-02-25</td>
    
        <td>CLOUD</td>
    
        <td>DataCamp</td>
    
        <td>#23,180,504</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/a6689c0517832393c1e33fde01a539dd3d60544d'>Writing Efficient Code with Pandas</a></td>
    
        <td>2022-02-24</td>
    
        <td>PANDAS</td>
    
        <td>DataCamp</td>
    
        <td>#22,694,144</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/03bec7f3dd48ab861f17f6e2862e594568f309be'>Introduction to Bash Scripting</a></td>
    
        <td>2022-02-22</td>
    
        <td>SHELL</td>
    
        <td>DataCamp</td>
    
        <td>#23,119,199</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/b940731355ef858d9b2d990aee2d0e0348288351'>Data Processing in Shell</a></td>
    
        <td>2022-02-20</td>
    
        <td>SHELL</td>
    
        <td>DataCamp</td>
    
        <td>#23,107,761</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/8bb18f7a9b4f8e91cf3a0e80771d23bcef7b7cbe'>Introduction to  Shell</a></td>
    
        <td>2022-02-19</td>
    
        <td>SHELL</td>
    
        <td>DataCamp</td>
    
        <td>#22,685,188</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/a8d1acb463db98dc4605613d95d4826eb0e317b7'>Regular Expressions in Python</a></td>
    
        <td>2022-02-15</td>
    
        <td>REGULAR EXPRESSIONS</td>
    
        <td>DataCamp</td>
    
        <td>#22,864,276</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/fc64a4364f76a49340a0bcc2ef29ed5e01bf6d96'>Writing Efficient Python Code</a></td>
    
        <td>2022-02-11</td>
    
        <td>PYTHON</td>
    
        <td>DataCamp</td>
    
        <td>#22,577,755</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/b1edc8dcaa0e648d8d43fec7d968882cf84ae874'>Introduction to Power BI</a></td>
    
        <td>2022-01-23</td>
    
        <td>POWER BI</td>
    
        <td>DataCamp</td>
    
        <td>#22,549,749</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://app.datacamp.com/learn/courses/python-data-science-toolbox-part-2'>Python Data Science Toolbox (Part 2)</a></td>
    
        <td>2022-01-23</td>
    
        <td>PANDAS</td>
    
        <td>DataCamp</td>
    
        <td>#22,700,284</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.datacamp.com/statement-of-accomplishment/course/2b8113ee484f7a2ad8d84e7e32ccd861c996569a?raw=1'>Streamlined Data Ingestion with Pandas</a></td>
    
        <td>2022-01-22</td>
    
        <td>PANDAS</td>
    
        <td>DataCamp</td>
    
        <td>#22,671,802</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/33af3a7ba2bd8a4291d5188f2d436696'>Exploratory Data Analysis in Python</a></td>
    
        <td>2021-12-31</td>
    
        <td>PYTHON</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/9da8e26980d5139405439ee7578b8b69'>Learn the Basics of Regular Expressions</a></td>
    
        <td>2021-10-10</td>
    
        <td>REGULAR EXPRESSIONS</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/e773a003314c1be60da8388a90a77e78'>How to Clean Data with Python</a></td>
    
        <td>2021-09-06</td>
    
        <td>PYTHON</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/37c55263a9f1b1f7603f7551c293ecbd'>Learn Bash Scripting</a></td>
    
        <td>2021-08-27</td>
    
        <td>SHELL</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/43135f7494712f4c3b1ced1a55be7be1'>Learn Statistics with NumPy</a></td>
    
        <td>2021-08-22</td>
    
        <td>STATISTICS</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/c87ba0541f8be78bc2f4ba1128233f6f'>Learn the Command Line</a></td>
    
        <td>2021-08-17</td>
    
        <td>SHELL</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/042a4e5884e3eb6ea1f2a12be6abb851'>Learn SQL Course</a></td>
    
        <td>2021-07-16</td>
    
        <td>SQL</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/6c152bd262967f8c941c9707ed636bda'>Learn Python 3</a></td>
    
        <td>2021-04-14</td>
    
        <td>PYTHON</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://www.codecademy.com/profiles/robertomdiniz/certificates/95dd3ed417d7d6c449afffc6401b310a'>Learn Data Analysis with Pandas</a></td>
    
        <td>2021-02-10</td>
    
        <td>PANDAS</td>
    
        <td>CodeCademy</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://github.com/s33ding/myCertificates/blob/main/english_TOEFL_my_score.pdf'>English</a></td>
    
        <td>2020-10-31</td>
    
        <td>ENGLISH</td>
    
        <td>TOEFL</td>
    
        <td>nan</td>
    
    </tr>
    
    <tr>
    
        <td><a href='https://github.com/s33ding/myCertificates/blob/main/english_Casa%20Thomas%20Jefferson.pdf'>English</a></td>
    
        <td>2017-07-01</td>
    
        <td>ENGLISH</td>
    
        <td>Casa Thomas Jefferson</td>
    
        <td>nan</td>
    
    </tr>
    
</table>
      </div>
   </body>
</html>
