<!DOCTYPE HTML>
{% load static %}
<link rel="stylesheet" href="{% static 'myapp/style.css' %}">

<div class="topnav">
  <a class="active" href="{% url 'HOME' %}">HOME</a>
  <a href="{% url 'ABOUT ME' %}">ABOUT ME</a>
  <a href="{% url 'GRADUATION' %}">GRADUATION</a>
  <a href="{% url 'CERTIFICATIONS' %}">CERTIFICATIONS</a>
  <a href="{% url 'EXPERIENCE' %}">EXPERIENCE</a>
  <a href="{% url 'CONTACT' %}">CONTACT</a>
  <a href="{% url 'RESUME' %}">RESUME</a>
</div class="topnav">
<br>

{% block head %}
  <head></head>
{% endblock %}

<body>


{% block content %}
{% endblock %}
</body>