{% load static %}
<link rel="stylesheet" href="{% static 'myapp/style_resume.css' %}">

{% block head %}
{% endblock %}

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> {{ contact.name }} - Curriculum Roberto </title>
  
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="screen" href="styles.css">
  
  <!-- Modernizr on top to enable old browsers to render HTML5 markup -->
  <script src="modernizr.custom.15550.js"></script>

</head>

<body>
<BR>
    <header vcard">
    	<h1 class="fn">{{ contact.name }}</h1>
        <h2 class="role"> <b>{{ contact.role }}</b></h2>
    	<ul class="contact">
        	<li class="email">Email: {{ contact.email }}</li>
            <li class="tel">Phone: {{ contact.cell_phone}}</li>
            <li class="adr">City: <span class="locality">{{ contact.city }}</span>, <span class="country-name">{{ contact.country }}</span></li>
            <li class="url">Github: <a href="{{ contact.githubLink }}" > {{contact.github}} </a></li>
            <li class="url">Linkedin: <a href="{{ contact.linkedinLink }}" >{{ contact.linkedin }}</a></li>
		</ul>
    </header>

	<section id="summary">
    	<h1>Summary</h1>
        <p> {{ summary.p1 }} </p>    	
    </section>
    
    <section id="skills">
    <h1>Skills</h1>
        <dl>
           
            <dt><b>Python</b></dt>
            {% for x in skills.Python %}
                <dd><b>{{ x }}</b></dd>
            {% endfor %}

            <dt><b>SQL</b></dt>
            {% for x in skills.SQL %}
                <dd><b>{{ x }}</b></dd>
            {% endfor %}

            <dt><b>Linux</b></dt>
            {% for x in skills.Linux %}
                <dd><b>{{ x }}</b></dd>
            {% endfor %}

            <dt><b>Cloud</b></dt>
            {% for x in skills.Cloud %}
                <dd><b>{{ x }}</b></dd>
            {% endfor %}


    </dl>
    </section>
    
    <section id="experience">
    	<h1>Work Experience</h1>

        <article>
        	<h1><span>{{ experienceA.position }}</span></h1>
            <h2>{{ experienceA.place }}</h2>

            <span class="start">{{ experienceA.started }}</span>
            <span class="end">{{ experienceA.finished }}</span>
            <p> {{ experienceA.description }} <br>
            </p>            
        </article>

        <article>
        	<h1><span>{{ experienceB.position }}</span></h1>
            <h2>{{ experienceB.place }}</h2>
            <p>{{ experienceB.started }}</p>

            <time class="start">{{experienceB.started }}</time>
            <span class="end">{{ experienceB.finished }}</span>
            <p> {{ experienceB.description }} <br>
            </p>            
        </article>

    <section id="education">
    	<h1>Education</h1>
        <h2>{{ education.university }}</h2>
        <p>{{ education.course }}</p>
    </section>

  <!-- Script for enabling media queries on IE5+ -->
  <script src="css3-mediaqueries.js"></script>
</body>
