{% load static %}
<link rel="stylesheet" href="{% static 'myapp/style_resume.css' %}">

{% block head %}
{% endblock %}

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> {{ name }} - Curriculum Vitae - R&eacute;sum&eacute;</title>
  
  <meta name="description" content="Semantic, Responsive, HTML and CSS Curriculum Vitae / Résumé of Front-end Developer and Web Designer J. Pedro Ribeiro">
  <meta name="author" content="J. Pedro Ribeiro - jpedroribeiro.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="screen" href="styles.css">
  
  <!-- Modernizr on top to enable old browsers to render HTML5 markup -->
  <script src="modernizr.custom.15550.js"></script>

</head>

<body>

    <header class="vcard">
    	<h1 class="fn">{{ name }}</h1>
        <h2 class="role"> {{ role }}</h2>
    	<ul class="contact">
        	<li class="email"> {{ email }}</li>
            <li class="tel"> {{ cell_phone}}</li>
            <li class="url"><a href= "{{ github }}" title="{{ name }} Website">{{ github }}</a></li>
            <li class="adr"><span class="locality">{{ city }}</span>, <span class="country-name">{{ country }}</span></li>
            <li class="url Telegram">@{{ telegram }}</li>
		</ul>
    </header>

	<section id="summary">
    	<h1>Summary</h1>
        <p> {{ summary_p1 }} </p>    	
        <br>
        <p> {{ summary_p2 }} </p>    	
    </section>
    
    <section id="skills">
    	<h1>Skills</h1>
        <dl>
        	<dt>Python</dt>
            <dd title="{{py1}}">{{py1}}</dd>
            <dd title="{{py2}}">{{py2}}</dd>
            <dd title="{{py3}}">{{py3}}</dd>
            <dd title="{{py4}}">{{py4}}</dd>
            
            <dt>SQL</dt>
            <dd title="Coding markup in an accessible, usable and semantic way, using best practices and avoiding proprietary rules.">Web Standards</dd>
            
            <dt>Back-END</dt>
            <dd title="{{ backend1 }}"> {{backend1}}</dd>
            <dd title="{{ backend2 }}"> {{backend2}}</dd>
            <dd title="{{ backend3}}"> {{backend3}}</dd>

            <dt>Linux</dt>
            <dd title="{{ linux1 }}">{{ linux1 }}</dd>
            <dd title="{{ linux2 }}">{{ linux2 }}</dd>
            <dd title="{{ linux3 }}">{{ linux3 }}</dd>
            
            <dt>Others</dt>
            <dd title="Adobe's animation software">Flash (Timeline)</dd>            
        </dl>
    </section>
    
    <section id="experience">
    	<h1>Work Experience</h1>
        <article>
        	<h1><span>{{pos_wk1}}</span></h1>
            <h2>{{place_wk1}}</h2>
            <time datetime="{{start_wk1}}" class="start">{{start_wk1}}</time>
            <span class="end">{{finished_wk1}}</span>
            <p> {{description_wk1}} <br>
            </p>            
        </article>

        <section id="education">
    	<h1>Education</h1>
        <h2>{{ university }}</h2>
        <p>{{ course }}</p>
    </section>
    
    <!-- <section id="hobbies">
    	<h1>Hobbies &amp; Interests</h1>
        <ul>
        	<li>Playing Drums and Percussion (Caj&oacute;n) with <a href="https://www.facebook.com/DiplomatasBrasil" rel="external" title="Diplomatas on Facebook">Diplomatas</a>, an acoustic trio;</li>
            <li><a href="http://youtweetintome.jpedroribeiro.com/" rel="external" title="You Tweetin' to Me?">Tweeting moview reviews</a>;</li>
            <li><a href="http://ribeirobrowbrewery.tumblr.com/" rel="external" title="Ribeiro Bros Brewery">Brewing beer</a> with my brother;</li>
            <li><a href="http://www.flickr.com/photos/jpedroribeiro/4557978857/in/photostream/" rel="external" title="My Flickr Set">Photography</a>;</li>
            <li>Travelling;</li>
            <li>Gaming (from Atari to PS3).</li>
        </ul>
    </section> -->
    

    


  <!-- Script for enabling media queries on IE5+ -->
  <script src="css3-mediaqueries.js"></script>


	

  
</body>
